In [1]:
import tweepy
import datetime
import pandas as pd
from tweepy import OAuthHandler # Used for authentication
from tweepy import Cursor # Used to perform pagination

/Users/Daphne/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
cons_key = "ztPdhKiUt6taZfksF2Tu4dcTG"
cons_secret = "lgCopastatvWK3IUWxVMGSJ5KfSGZ6PIuahaOXfObHRQc24tts"
acc_token = "1580546379553849345-rnJCPqXb5GfSocd1DINmgrOh10jOB0"
acc_secret = "FjX0Ih9WdgoKLEaVt7ZAWIwcPTeDyhtxfGS0MZxgf33oK"

In [3]:
twitter_auth = tweepy.OAuthHandler(cons_key, cons_secret)
twitter_auth.set_access_token(acc_token, acc_secret)
api = tweepy.API(twitter_auth)

In [4]:
def get_twitter_auth():
    """
    @return:
        - the authentification to Twitter
    """
    try:
        consumer_key = cons_key
        consumer_secret = cons_secret
        access_token = acc_token
        access_secret = acc_secret
        
    except KeyError:
        sys.stderr.write("Twitter Environment Variable not Set\n")
        sys.exit(1)
        
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)
    
    return auth

# (2). Client function to access the authentication API
def get_twitter_client():
    """
    @return:
        - the client to access the authentification API
    """
    auth = get_twitter_auth()
    client = tweepy.API(auth, wait_on_rate_limit=True)
    return client
def get_tweets_from_user(twitter_user_name, page_limit=16, count_tweet=200):
    """
    @params:
        - twitter_user_name: the twitter username of a user (company, etc.)
        - page_limit: the total number of pages (max=16)
        - count_tweet: maximum number to be retrieved from a page
        
    @return
        - all the tweets from the user twitter_user_name
    """
    client = get_twitter_client()
    
    all_tweets = []
    
    for page in Cursor(client.user_timeline, 
                        screen_name=twitter_user_name, 
                        count=count_tweet).pages(page_limit):
        for tweet in page:
            parsed_tweet = {}
            parsed_tweet['date'] = tweet.created_at
            parsed_tweet['author'] = tweet.user.name
            parsed_tweet['twitter_name'] = tweet.user.screen_name
            parsed_tweet['text'] = tweet.text
            parsed_tweet['tweet_ID'] = tweet.id
            parsed_tweet['number_of_likes'] = tweet.favorite_count
            parsed_tweet['number_of_retweets'] = tweet.retweet_count
                
            all_tweets.append(parsed_tweet)
    
    # Create dataframe 
    df = pd.DataFrame(all_tweets)
    
    # Revome duplicates if there are any
    df = df.drop_duplicates( "text" , keep='first')
    
    return df

In [5]:
MayorBMScott = get_tweets_from_user("MayorBMScott")
print("Data Shape: {}".format(MayorBMScott.shape))

Data Shape: (3170, 7)

In [6]:
MayorBMScott.head()

,date,author,twitter_name,text,tweet_ID,number_of_likes,number_of_retweets
0,2022-12-09 18:24:41+00:00,Brandon M. Scott,MayorBMScott,Please Share! https://t.co/UN9FSpQID3,1601281695226830848,16,20
1,2022-12-08 14:24:00+00:00,Brandon M. Scott,MayorBMScott,!!! https://t.co/rh4ioIxs7S https://t.co/NymwY...,1600858740680441856,56,4
2,2022-12-06 21:36:43+00:00,Brandon M. Scott,MayorBMScott,RT @BaltimoreMONSE: Release: Mayor Scott Annou...,1600242859210596352,0,8
3,2022-12-06 17:49:41+00:00,Brandon M. Scott,MayorBMScott,Thank you @MissionInvest for hosting your Nati...,1600185723763597315,8,5
4,2022-12-06 15:34:21+00:00,Brandon M. Scott,MayorBMScott,@BaltCitySchools @DunbarPoetPride @CurryEdu Co...,1600151667504140288,1,0

In [84]:
MayorBMScott.to_csv('file1.csv')

In [7]:
wjz = get_tweets_from_user("wjz")
print("Data Shape: {}".format(wjz.shape))

Data Shape: (3193, 6)

In [8]:
wjz.head()

,date,author,twitter_name,text,number_of_likes,number_of_retweets
0,2022-11-18 13:30:04+00:00,WJZ | CBS Baltimore,wjz,Federal prosecutors have charged two Russian n...,0,0
1,2022-11-18 13:25:23+00:00,WJZ | CBS Baltimore,wjz,RT @AmyKawata: It’s been a busy morning here a...,0,3
2,2022-11-18 13:15:02+00:00,WJZ | CBS Baltimore,wjz,The 15-year-old is facing charges after Timoth...,0,0
3,2022-11-18 13:00:03+00:00,WJZ | CBS Baltimore,wjz,Lt. Mariano Pargas left the department volunta...,0,0
4,2022-11-18 12:00:05+00:00,WJZ | CBS Baltimore,wjz,"Virginia McLaurin, the centenarian who danced ...",3,1

In [85]:
wjz.to_csv('file2.csv')

In [9]:
baltimoresun = get_tweets_from_user("baltimoresun")
print("Data Shape: {}".format(baltimoresun.shape))

Data Shape: (3200, 6)

In [10]:
baltimoresun.head()

,date,author,twitter_name,text,number_of_likes,number_of_retweets
0,2022-11-18 13:30:16+00:00,The Baltimore Sun,baltimoresun,GUEST COMMENTARY: Infertility is ubiquitous. Y...,2,0
1,2022-11-18 13:00:12+00:00,The Baltimore Sun,baltimoresun,The myth of recycling as the answer to plastic...,1,1
2,2022-11-18 12:00:09+00:00,The Baltimore Sun,baltimoresun,Baltimore-based T. Rowe Price lays off 2% of g...,3,1
3,2022-11-18 11:00:14+00:00,The Baltimore Sun,baltimoresun,Auction for Bertha’s Mussels in Baltimore is c...,6,0
4,2022-11-18 10:00:09+00:00,The Baltimore Sun,baltimoresun,Baltimore Gift Guide 2022\nhttps://t.co/89JEdY...,0,0

In [86]:
baltimoresun.to_csv('file3.csv')

In [11]:
wbaltv11 = get_tweets_from_user("wbaltv11")
print("Data Shape: {}".format(wbaltv11.shape))

Data Shape: (3137, 6)

In [87]:
wbaltv11.to_csv('file4.csv')

In [13]:
FOXBaltimore = get_tweets_from_user("FOXBaltimore")
print("Data Shape: {}".format(FOXBaltimore.shape))

Data Shape: (3193, 6)

In [88]:
FOXBaltimore.to_csv('file5.csv')

In [15]:
BaltCitySchools = get_tweets_from_user("BaltCitySchools")
print("Data Shape: {}".format(BaltCitySchools.shape))

Data Shape: (3189, 6)

In [89]:
BaltCitySchools.to_csv('file6.csv')

In [17]:
WMAR2News = get_tweets_from_user("WMAR2News")
print("Data Shape: {}".format(WMAR2News.shape))

Data Shape: (3189, 6)

In [90]:
WMAR2News.to_csv('file7.csv')

In [19]:
wbalradio = get_tweets_from_user("wbalradio")
print("Data Shape: {}".format(wbalradio.shape))

Data Shape: (3194, 6)

In [91]:
wbalradio.to_csv('file8.csv')

In [21]:
baltbeat = get_tweets_from_user("baltbeat")
print("Data Shape: {}".format(baltbeat.shape))

Data Shape: (3108, 6)

In [92]:
baltbeat.to_csv('file9.csv')

In [23]:
BaltimoreBanner = get_tweets_from_user("BaltimoreBanner")
print("Data Shape: {}".format(BaltimoreBanner.shape))

Data Shape: (3107, 6)

In [93]:
BaltimoreBanner.to_csv('file10.csv')

In [25]:
WYPR881FM = get_tweets_from_user("WYPR881FM")
print("Data Shape: {}".format(WYPR881FM.shape))

Data Shape: (3199, 6)

In [94]:
WYPR881FM.to_csv('file11.csv')

In [27]:
NWS_BaltWash = get_tweets_from_user("NWS_BaltWash")
print("Data Shape: {}".format(NWS_BaltWash.shape))

Data Shape: (3200, 6)

In [95]:
NWS_BaltWash.to_csv('file12.csv')

In [29]:
BaltimorePolice = get_tweets_from_user("BaltimorePolice")
print("Data Shape: {}".format(BaltimorePolice.shape))

Data Shape: (3123, 6)

In [96]:
BaltimorePolice.to_csv('file13.csv')

In [31]:
BMore_Healthy = get_tweets_from_user("BMore_Healthy")
print("Data Shape: {}".format(BMore_Healthy.shape))

Data Shape: (3136, 6)

In [97]:
BMore_Healthy.to_csv('file14.csv')

In [36]:
BaltimoreDPW = get_tweets_from_user("BaltimoreDPW")
print("Data Shape: {}".format(BaltimoreDPW.shape))

Data Shape: (3168, 6)

In [98]:
BaltimoreDPW.to_csv('file15.csv')

In [38]:
jemillerbalt = get_tweets_from_user("jemillerbalt")
print("Data Shape: {}".format(jemillerbalt.shape))

Data Shape: (3199, 6)

In [99]:
jemillerbalt.to_csv('file16.csv')

In [40]:
Nick_Mosby = get_tweets_from_user("Nick_Mosby")
print("Data Shape: {}".format(Nick_Mosby.shape))

Data Shape: (3173, 6)

In [100]:
Nick_Mosby.to_csv('file17.csv')

In [43]:
DaniMcCrayD2 = get_tweets_from_user("DaniMcCrayD2")
print("Data Shape: {}".format(DaniMcCrayD2.shape))

Data Shape: (389, 6)

In [101]:
DaniMcCrayD2.to_csv('file18.csv')

In [45]:
ElectRyanDorsey = get_tweets_from_user("ElectRyanDorsey")
print("Data Shape: {}".format(ElectRyanDorsey.shape))

Data Shape: (3177, 6)

In [102]:
ElectRyanDorsey.to_csv('file19.csv')

In [48]:
MarkConway4th = get_tweets_from_user("MarkConway4th")
print("Data Shape: {}".format(MarkConway4th.shape))

Data Shape: (877, 6)

In [103]:
MarkConway4th.to_csv('file20.csv')

In [50]:
docbullock = get_tweets_from_user("docbullock")
print("Data Shape: {}".format(docbullock.shape))

Data Shape: (826, 6)

In [104]:
docbullock.to_csv('file21.csv')

In [52]:
RobertStokesSr= get_tweets_from_user("RobertStokesSr")
print("Data Shape: {}".format(ElectRyanDorsey.shape))

Data Shape: (3177, 6)

In [105]:
RobertStokesSr.to_csv('file22.csv')

In [54]:
CouncilmanYitzy = get_tweets_from_user("CouncilmanYitzy")
print("Data Shape: {}".format(CouncilmanYitzy.shape))

Data Shape: (1866, 6)

In [106]:
CouncilmanYitzy.to_csv('file23.csv')

In [56]:
PhyliciaPorter_ = get_tweets_from_user("PhyliciaPorter_")
print("Data Shape: {}".format(PhyliciaPorter_.shape))

Data Shape: (775, 6)

In [107]:
PhyliciaPorter_.to_csv('file24.csv')

In [58]:
TonyGlover13 = get_tweets_from_user("TonyGlover13")
print("Data Shape: {}".format(TonyGlover13.shape))

Data Shape: (101, 6)

In [108]:
TonyGlover13.to_csv('file25.csv')

In [60]:
odetteramos = get_tweets_from_user("odetteramos")
print("Data Shape: {}".format(odetteramos.shape))

Data Shape: (3186, 6)

In [109]:
odetteramos.to_csv('file26.csv')

In [62]:
Zeke_Cohen = get_tweets_from_user("Zeke_Cohen")
print("Data Shape: {}".format(Zeke_Cohen.shape))

Data Shape: (3189, 6)

In [110]:
Zeke_Cohen.to_csv('file27.csv')

In [64]:
JamesTorrenceJD = get_tweets_from_user("JamesTorrenceJD")
print("Data Shape: {}".format(JamesTorrenceJD.shape))

Data Shape: (3147, 6)

In [111]:
JamesTorrenceJD.to_csv('file28.csv')

In [67]:
CouncilmanKB = get_tweets_from_user("CouncilmanKB")
print("Data Shape: {}".format(CouncilmanKB.shape))

Data Shape: (3180, 6)

In [112]:
CouncilmanKB.to_csv('file29.csv')

In [69]:
justin_fenton = get_tweets_from_user("justin_fenton")
print("Data Shape: {}".format(justin_fenton.shape))

Data Shape: (3192, 6)

In [71]:
justin_fenton.to_csv('file30.csv')

,date,author,twitter_name,text,number_of_likes,number_of_retweets
0,2022-11-18 04:48:03+00:00,Justin Fenton,justin_fenton,RT @RickyMar49: Elon when he becomes the only ...,0,17525
1,2022-11-17 21:18:05+00:00,Justin Fenton,justin_fenton,RT @BaltimoreBanner: BREAKING: Baltimore judge...,0,16
2,2022-11-17 20:25:27+00:00,Justin Fenton,justin_fenton,Some things happened today https://t.co/yBK6pw...,39,4
3,2022-11-17 20:00:35+00:00,Justin Fenton,justin_fenton,When you’re checking your email from 7:29 am a...,24,1
4,2022-11-17 19:10:18+00:00,Justin Fenton,justin_fenton,@localyokelmd Oh we know that name. The defens...,5,0

In [72]:
BaltBizOnline = get_tweets_from_user("BaltBizOnline")
print("Data Shape: {}".format(BaltBizOnline.shape))

Data Shape: (3198, 6)

In [113]:
BaltBizOnline.to_csv('file31.csv')

In [75]:
BaltimoreBrew = get_tweets_from_user("BaltimoreBrew")
print("Data Shape: {}".format(BaltimoreBrew.shape))

Data Shape: (3186, 6)

In [114]:
BaltimoreBrew.to_csv('file32.csv')

In [77]:
Notrivia  = get_tweets_from_user("Notrivia")
print("Data Shape: {}".format(Notrivia .shape))

Data Shape: (3129, 6)

In [115]:
Notrivia.to_csv('file33.csv')

In [79]:
BaynardWoods = get_tweets_from_user("BaynardWoods")
print("Data Shape: {}".format(BaynardWoods.shape))

Data Shape: (3132, 6)

In [116]:
BaynardWoods.to_csv('file34.csv')

In [6]:
LisaMcCray = get_tweets_from_user("LisaMcCray")
print("Data Shape: {}".format(LisaMcCray.shape))

Data Shape: (3138, 6)

In [7]:
LisaMcCray.to_csv('file35.csv')